
:root {
  --background: #f1f1f1;
  --foreground: #2d2d2d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d2d2d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #2d2d2d;
  font-family: Arial, Helvetica, sans-serif;

}
/* globals.css o algún CSS global que cargues luego del tema por defecto */

.hljs {
  background: #2d2d2d;  /* Fondo oscuro */
  color: #d4d4d4;       /* Color del texto por defecto */
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol {
  color: #c586c0;       /* Palabras clave */
}

.hljs-string {
  color: #ce9178;       /* Cadenas de texto */
}

.hljs-number {
  color: #b5cea8;       /* Números */
}

.hljs-comment {
  color: #6a9955;       /* Comentarios */
}

.custom-input-number {
  border-radius: 20px; /* Bordes redondeados */
  background-color: #2d2d2d; /* Fondo oscuro */
  color: #2d2d2d; /* Color del texto para contraste */
  border: 2px solid #f1f1f1; /* Bordes suaves */
  padding: 0.5rem; /* Espaciado interno */
  width: 100%; /* Ajusta según tus necesidades */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #2d2d2d;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 600px;
  box-shadow: 0 2px 10px #2d2d2d;
  text-align: left;
  height: auto;
  color: #d4d4d4;
  z-index: auto;
  
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #d4d4d4;
  cursor: pointer;
  
}

.close-modal-button:hover {
  color: #ff5555;
}

.file-content {
  background: #2d2d2d;
  padding: 15px;
  border-radius: 5px;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  color: #d4d4d4;
  overflow-x: auto;
  line-height: 1.6;
  white-space: pre-wrap;
}

/* Colores para resaltar JSON como en un IDE oscuro */
.file-content span.string {
  color: #ce9178;
}

.file-content span.number {
  color: #b5cea8;
}

.file-content span.boolean {
  color: #569cd6;
}

.file-content span.null {
  color: #569cd6;
}

.file-content span.key {
  color: #9cdcfe;
}

/* Scrollbar personalizado */
.file-content::-webkit-scrollbar {
  width: 8px;
}

.file-content::-webkit-scrollbar-thumb {
  background: #3c3c3c;
  border-radius: 4px;
}

.file-content::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

.p-dropdown {
  border: 2px solid;
  border-color: #f1f1f1;
}

.custom-input-number:focus {
  border-color: #007ad9; /* Cambia el color del borde al enfocar */
  outline: none; /* Quitar el borde por defecto */
  box-shadow: 0 0 5px rgba(0, 122, 217, 0.5); /* Sombra suave */
}

.p-slider-horizontal{
  width: 100%;
  height: 2px;
  position: relative;
  background-color: gray;
  top: 45%;
}


.p-slider-handle-start {
  border: 2px solid #3B82F6;
  background-color: #2d2d2d;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
}
.p-slider-handle-end {
  border: 2px solid #3B82F6;
  background-color: #2d2d2d;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
}
.p-slider-range {
  position: relative;
  width: 100%;
  height:1px;
  background-color: #3B82F6;
  top: 45%;
  margin-left: 10px;
  margin-right: 10px;
}
.custom-input-number .p-inputtext {
  border: none; /* Quitar el borde del input */
  background-color: transparent; /* Fondo transparente */
  color: #f9f9f9; /* Color del texto */
  height: 16px;
}
.custom-input-text {
  border: 2px solid #f1f1f1;
  background-color: #2d2d2d;
  border-radius: 999px;
  color: #f1f1f1;
  font-size: 0.85rem;
  padding: 0.5rem;
  width: auto;
}
.p-button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.p-button-danger {
  background-color: transparent;
  color: #f1f1f1;
  display: flex-1;
  
}

.custom-textarea {
    border: 1px solid #f1f1f1;
    background-color: #2d2d2d;
    border-radius: 10px;
    /* Otros estilos personalizados */
}

.p-dropdown-panel {
    background-color: #2d2d2d;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    
    /* Otros estilos personalizados */
}

.p-dropdown-item {
    color: #f1f1f1;
    margin-left: 7px;

    /* Otros estilos personalizados */
}

.p-button-help {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #8d8d8d;
    color: #f1f1f1;
    /* Otros estilos personalizados */
}

.custom-textarea .p-inputtextarea {
    border: 1px solid #f1f1f1;
    background-color: #f9f9f9;
    /* Otros estilos personalizados */
}

:deep(.inputnumber-input) {
    border: none;
    background-color: transparent;
}


:root {
  --background: #ffffff;
  --foreground: #2d2d2d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d2d2d;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos de highlight.js */
.hljs {
  background: #2d2d2d;  /* Fondo oscuro */
  color: #d4d4d4;       /* Color del texto por defecto */
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol {
  color: #c586c0;       /* Palabras clave */
}

.hljs-string {
  color: #ce9178;       /* Cadenas de texto */
}

.hljs-number {
  color: #b5cea8;       /* Números */
}

.hljs-comment {
  color: #6a9955;       /* Comentarios */
}

/* InputNumber personalizado */
.custom-input-number {
  border-radius: 20px;  /* Bordes redondeados */
  background-color: #2d2d2d; /* Fondo oscuro */
  color: #2d2d2d;       /* Texto para contraste */
  border: 2px solid #f1f1f1;
  padding: 0.5rem;
  width: auto;
}

.custom-input-number:focus {
  border-color: #007ad9;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 122, 217, 0.5); /* Sombra suave */
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: left;
  height: auto;
  color: #d4d4d4;
  z-index: auto;
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #d4d4d4;
  cursor: pointer;
}

.close-modal-button:hover {
  color: #ff5555;
}

/* Editor / visualización de archivos */
.file-content {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 5px;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  color: #d4d4d4;
  overflow-x: auto;
  line-height: 1.6;
  white-space: pre-wrap;
}

/* Colores para resaltar JSON */
.file-content span.string {
  color: #ce9178;
}

.file-content span.number {
  color: #b5cea8;
}

.file-content span.boolean {
  color: #569cd6;
}

.file-content span.null {
  color: #569cd6;
}

.file-content span.key {
  color: #9cdcfe;
}

/* Scrollbar personalizado */
.file-content::-webkit-scrollbar {
  width: 8px;
}

.file-content::-webkit-scrollbar-thumb {
  background: #3c3c3c;
  border-radius: 4px;
}

.file-content::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

/* Dropdown primereact */
.p-dropdown {
  border: 2px solid #f1f1f1;
}

/* Slider primereact */
.p-slider-horizontal {
  width: 100%;
  height: 2px;
  position: relative;
  background-color: gray;
  top: 45%;
}

.p-slider-handle-start,
.p-slider-handle-end {
  border: 2px solid #3B82F6;
  background-color: #2d2d2d;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
}

.p-slider-range {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #3B82F6;
  top: 45%;
  margin-left: 10px;
  margin-right: 10px;
}

/* Ajuste de InputNumber interno */
.custom-input-number .p-inputtext {
  border: none;
  background-color: transparent;
  color: #f9f9f9;
  height: 16px;
}

/* Botones primereact */
.p-button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Textarea personalizado */
.custom-textarea {
  border: 1px solid #f1f1f1;
  background-color: #2d2d2d;
  border-radius: 10px;
}

.p-dropdown-panel {
  background-color: #2d2d2d;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.p-dropdown-item {
  color: #f9f9f9;
  margin-left: 7px;
}

.custom-textarea .p-inputtextarea {
  border: 1px solid #f1f1f1;
  background-color: #f9f9f9;
}

/* Corrige el borde en InputNumber dentro de PrimeVue */
:deep(.inputnumber-input) {
  border: none;
  background-color: transparent;
}

/* Contenedor principal */
.genfiles-container {
  display: flex;
  min-height: 100vh;
}

/* Panel / columna izquierda */
.genfiles-leftPanel {
  flex: 1;
  background-color: #2b2b2b;
  padding: 2.25rem;
}

/* Título principal contenedor */
.genfiles-title {
  display: flex;
  gap: 1rem; /* Equivalent to gap-4 */
  margin-left: -0.5rem; /* Equivalent to space-x-2 */
  margin-right: -0.5rem; /* Equivalent to space-x-2 */
}

/* Texto del título principal */
.genfiles-titleText {
  font-size: 2.25rem; /* text-4xl */
  display: flex; /* flex */
  gap: 1.5rem; /* gap-6 */
  font-weight: bold; /* font-bold */
  color: #f1f1f1; /* text-[#f1f1f1] */
}

/* Sección principal (main) */
.genfiles-main {
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  gap: 1.5rem; /* gap-6 */
  align-items: flex-start; /* sm:items-start */
}

/* Bloque genérico que agrupa secciones */
.genfiles-section {
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  gap: 1rem; /* gap-4 */
  position: relative; /* position-relative */
}

/* Sub-bloque para inputs, labels, etc. */
.genfiles-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* gap-4 */
}

/* Margin top pequeña en label */
.genfiles-label {
  margin-top: 1rem; /* mt-4 */
  font-size: 1.1rem; /* text-base */
}

/* Dropdown para "nodo destino" */
.genfiles-dropdownNode {
  width: 100%;
  padding: 0.25rem; /* p-1 */
  border-style: solid;
  border-radius: 9999px; /* rounded-full */
  position: relative;
}

/* Dropdown para "tipo de esquema" */
.genfiles-dropdownSchemes {
  width: 100%;
  padding: 0.25rem; /* p-1 */
  border: 2px solid;
  border-radius: 9999px; /* rounded-full */
}

/* Dropdown para "propiedades a modificar" */
.genfiles-dropdownProps {
  width: 100%;
  padding: 0.25rem; /* p-1 */
  border: 2px solid;
  border-radius: 9999px; /* rounded-full */
}

/* Contenedor de chips */
.genfiles-chipsContainer {
  display: flex;
  flex-wrap: wrap;
}

/* Chips seleccionados */
.chip-selected {
  background-color: #A9B8D1;
  color: #2b2b2b;
  font-weight: bold;
  border-radius: 9999px;
  margin: 0 0.25rem;
  padding: 0.25rem;
  font-size: 0.75rem;
}

/* Chips no seleccionados */
.chip-unselected {
  background-color: #DCE3F3;
  color: #2b2b2b;
  font-weight: bold;
  border-radius: 9999px;
  margin: 0 0.25rem;
  padding: 0.25rem;
  font-size: 0.75rem;
}

/* Contenedor para slider y texto de rango */
.genfiles-sliderWrapper {
  display: flex-1;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.75rem;
}

/* Texto para mostrar rango */
.genfiles-rangeText {
  padding-top: 0.75rem;
  margin-right: 2.5rem;
}

/* Contenedor de "Ubicaciones" */
.genfiles-locationsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* gap-2 */

}

/* InputText para ubicación */
.genfiles-locationName {
  width: auto;
  font-family: 'Montserrat', sans-serif; /* font-sans */
  padding: 0.5rem; /* p-2 */
  border: 2px solid; /* border border-solid */
  border-radius: 9999px; /* rounded-full */
  color: #2d2d2d; /* text-[#2d2d2d] */
  background-color: #f1f1f1; /* bg-[#f1f1f1] */
  padding: 0.5rem; /* Espaciado interno */
}

/* Botón "Agregar ubicación" */
.genfiles-addLocation {
  background-color: #43AE6A; /* bg-[#43AE6A] */
  margin-top: 0.5rem; /* mt-2 */
  font-family: 'Montserrat', sans-serif; /* font-sans */
  color: #f1f1f1; /* text-[#f1f1f1] */
  font-size: 0.875rem; /* text-sm */
}

/* Botón "Guardar selección" */
.genfiles-saveSelection {
  background-color: #3B82F6; /* bg-[#3B82F6] */
  font-family: 'Montserrat', sans-serif; /* font-sans */
  color: #f1f1f1; /* text-[#f1f1f1] */
  font-size: 0.875rem; /* text-sm */
}

/* Panel / columna derecha */
.genfiles-rightPanel {
  flex: 1; /* flex-1 */
  background-color: #2B2B2B; /* bg-[#2B2B2B] */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F1F1F1; /* text-[#F1F1F1] */
  padding: 2rem; /* p-8 */
}

/* Footer principal donde va la DataTable */
.genfiles-footer {
  display: flex;
  flex-direction: column;
  padding-top: 5rem; /* py-20 */
  padding-bottom: 5rem; /* py-20 */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 2.5rem; /* mx-10 */
  margin-right: 2.5rem; /* mx-10 */
}

/* DataTable */
.genfiles-datatable {
  margin-top: 1rem; /* mt-4 */
  min-width: 100%; /* min-w-full */
  border-collapse: collapse; /* border-collapse */
  font-size: 0.875rem; /* text-sm */
}

/* Column header */
.genfiles-columnHeader {
  background-color: #4C4C4C; /* bg-[#4C4C4C] */
  text-align: left; /* text-left */
  font-weight: 500; /* font-medium */
  padding: 1rem; /* p-4 */
}

/* Column body */
.genfiles-column {
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  border-bottom: 1px solid #e5e7eb; /* border-b border-gray-200 */
  width: 10;
  background-color: transparent; /* bg-transparent */
  text-align: left; /* text-left */
  font-weight: 500; /* font-medium */
}

/* Column body para "range" centrado */
.genfiles-columnRange {
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  border-bottom: 1px solid #e5e7eb; /* border-b border-gray-200 */
  background-color: transparent; /* bg-transparent */
  text-align: center; /* text-center */
  font-weight: 500; /* font-medium */
}

/* Row de acciones (botones) bajo la tabla */
.genfiles-actionsRow {
  display: flex-1; /* flex */
  gap: 1rem; /* gap-4 */
  align-items: center; /* items-center */
  flex-direction: column; /* flex-col */
  flex-direction: row; /* sm:flex-row */
  margin-top: 2.5rem; /* my-10 */
  margin-bottom: 2.5rem; /* my-10 */
  
}

/* Botón "Generar Archivos" */
.genfiles-btnGenerate {
  background-color: #3B82F6; /* bg-[#3B82F6] */
  padding: 0.75rem 1rem; /* p-3 */
  font-size: 1rem; /* text-sm */
  height: 3rem; /* sm:h-12 */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  padding-left: 1.25rem; /* sm:px-5 */
  padding-right: 1.25rem; /* sm:px-5 */
  min-width: 5rem; /* sm:min-w-44 */
  font-family: 'Montserrat', sans-serif; /* font-sans */
  margin-bottom: 2rem; /* mb-8 */
  margin-right: 1rem; /* mr-4 */
  color: #f1f1f1; /* text-[#f1f1f1] */
}

/* Botón "Descargar ZIP" */
.genfiles-btnDownload {
  background-color: #43AE6A; /* bg-[#43AE6A] */
  padding: 0.75rem 1rem; /* p-3 */
  transition: colors 0.3s; /* transition-colors */
  font-size: 0.875rem; /* text-sm */
  font-size: 1rem; /* sm:text-base */
  height: 2.5rem; /* h-10 */
  height: 3rem; /* sm:h-12 */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  padding-left: 1.25rem; /* sm:px-5 */
  padding-right: 1.25rem; /* sm:px-5 */
  min-width: 5rem; /* sm:min-w-44 */
  font-family: 'Montserrat', sans-serif; /* font-sans */
  margin-bottom: 2rem; /* mb-8 */
  margin-right: 1rem; /* mr-4 */
  color: #f1f1f1; /* text-[#f1f1f1] */

}

/* Botón "Previsualización" / "Mostrar resumen" */
.genfiles-btnPreview {
  background-color: #8d8d8d;
  padding: 0.75rem;
  transition: colors 0.3s;
  font-size: 0.875rem;
  font-size: 1rem;
  height: 2.5rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  min-width: 5rem; /* sm:min-w-44 */
  font-family: 'Montserrat', sans-serif; /* font-sans */
  margin-bottom: 2rem;
  margin-right: 1rem;
  color: #f1f1f1; /* text-[#f1f1f1] */

}

/* Botón "Página principal" */
.genfiles-btnMain {
  background-color: #D7483E;
  padding: 0.75rem;
  transition: colors 0.3s;
  font-size: 0.875rem;
  font-size: 1rem;
  height: 2.5rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  min-width: 5rem; /* sm:min-w-44 */
  font-family: 'Montserrat', sans-serif; /* font-sans */
  margin-bottom: 2rem;
  margin-right: 1rem;
  color: #f1f1f1; /* text-[#f1f1f1] */

}

/* Caja de previsualización / resumen */
.genfiles-summary {
  background-color: #4C4C4C;
  color: #f1f1f1;
  display: flex-1;
  flex-direction: row;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-height: 16rem;
  overflow-y: auto;
  ;
}

/* Margin spacing dentro de la sección de resumen */
.genfiles-blockMargin {
  margin: 1rem;
}

/* Contenedor principal de la página (fondo oscuro, padding, etc.) */
.gennodes-mainContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #2b2b2b;
  padding: 2.25rem;
  gap: 1.5rem;
}

/* Contenedor del título */
.gennodes-titleWrapper {
  gap: 1rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* Texto del título principal */
.gennodes-title {
  font-size: 2.25rem;
  display: flex;
  gap: 1.5rem;
  font-weight: bold;
  color: #f1f1f1;
}

/* Imagen del título */
.gennodes-titleIcon {
  width: 2.5rem;
  height: 2.5rem;
}

/* Sección del selector de opciones (RadioButtons) */
.gennodes-optionSelector {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

/* Etiquetas de los RadioButtons */
.gennodes-optionLabel {
  margin-left: 2rem;
  color: #f1f1f1;
}

/* Texto de fallback si no hay opción seleccionada */
.gennodes-fallbackText {
  color: #f1f1f1;
}

/* ============= Sección "Generar Nodos" ============= */

/* Contenedor de la sección "GenerateNodes" */
.gennodes-generateNodesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem; /* gap-4 */
  margin-right: auto; /* mr-auto */
}

/* Texto principal de "GenerateNodes" */
.gennodes-textWhite {
  color: #f1f1f1; /* text-white */
}

/* InputNumber para "numNodos" */
.gennodes-nodosInput {
  width: 1rem; /* w-4 */
  max-width: 14rem; /* md:w-14rem */
  padding: 0.25rem; /* p-1 */
  border: 1px solid; /* border border-solid */
  border-radius: 9999px; /* rounded-full */
  background-color: #2d2d2d; /* custom-input-number */
}

/* Botón "Generar Nodos" */
.gennodes-btnGenerateNodes {
  background-color: #3B82F6; /* bg-[#3B82F6] */
  margin-right: 1rem; /* mr-4 */
  color: #f1f1f1; /* text-[#f1f1f1] */
  font-family: 'Montserrat', sans-serif; /* font-sans */
  font-size: 1rem; /* text-sm */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  padding-left: 1.25rem; /* sm:px-5 */
  padding-right: 1.25rem; /* sm:px-5 */
  padding: 0.75rem; /* p-3 */

}

/* Botón "Página principal" (en generateNodes) */
.gennodes-btnHome {
  background-color: #D7483E; /* bg-[#D7483E] */
  padding: 0.75rem; /* p-3 */
  font-size: 0.875rem; /* text-sm */
  font-size: 1rem; /* sm:text-base */
  color: #f1f1f1; /* text-[#f1f1f1] */
  font-family: 'Montserrat', sans-serif; /* font-sans */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  padding-left: 1.25rem; /* sm:px-5 */
  padding-right: 1.25rem; /* sm:px-5 */
}

/* ============= Sección "Generar Archivos Aleatorios" ============= */

/* Contenedor principal de "GenerateRandomFiles" */
.gennodes-randomContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem; /* gap-6 */
  color: #f1f1f1;
}

/* Columna izquierda en "GenerateRandomFiles" */
.gennodes-randomLeftPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gap-4 */
  margin-right: auto;
}

/* Texto con margen top */
.gennodes-textMarginTop {
  color: #f1f1f1;
  margin-top: 1rem; /* mt-4 */
}

/* InputNumber para el "numNodes" */
.gennodes-numNodesInput {
  width: 100%;
  max-width: 14rem; /* md:w-14rem */
  padding: 0.25rem; /* p-1 */
  border: 1px solid;
  border-radius: 9999px; /* rounded-full */
  background-color: transparent;
  color: #f1f1f1;
}

/* Contenedor de la lista de ubicaciones */
.gennodes-locationsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* gap-2 */
}

/* InputText para el nombre de ubicación */
.gennodes-locationInput {
  width: 100%;
  max-width: 14rem; /* md:w-14rem */
  padding: 0.25rem; /* p-1 */
  border: 1px solid;
  border-radius: 9999px; /* rounded-full */
  background-color: transparent;
  color: #f1f1f1;
}

/* Botón "Agregar ubicación" */
.gennodes-btnAddLocation {
  background-color: #43AE6A;
  color:#f1f1f1;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  
}

/* Botón "Generar Archivos Aleatorios" */
.gennodes-btnGenerateRandom {
  background-color: #3B82F6;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #f1f1f1;

}

/* Botón "Descargar ZIP" */
.gennodes-btnDownloadZip {
  background-color: #4CAF50;
  color: #f1f1f1;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

/* Botón "Página principal" (en random files) */
.gennodes-btnHomeRandom {
  background-color: #D7483E;
  color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Contenedor (columna derecha) para el resumen */
.gennodes-summaryContainer {
  background-color: #333333;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 50%;
  color: #f1f1f1;
  max-height: 20rem;
  overflow-y: auto;
}

/* Título del resumen */
.gennodes-summaryTitle {
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Margen inferior en bloque del resumen */
.gennodes-summaryBlock {
  margin-bottom: 1rem;
}

/* Margen superior en secciones del resumen */
.gennodes-summarySpacing {
  margin-top: 0.5rem;
}

/* --------- Clases para Genfile.tsx --------- */

/* Contenedor principal (con fondo claro y texto oscuro) */
.genfile-container {
  display: flex;
  min-height: 100vh;
  background-color: #f1f1f1;
  color: #2d2d2d;
}

/* Columna izquierda (panel) */
.genfile-leftPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2.25rem;
}

/* Sección principal dentro del panel */
.genfile-main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

/* Fila para el título (imagen + texto) */
.genfile-titleRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Texto principal del título */
.genfile-title {
  font-size: 2.25rem;
  font-weight: bold;
}

/* Imagen que expande (flex-1) */
.genfile-imageFlex1 {
  flex: 1;
}

/* Clase de margin horizontal (por ejemplo, mx-2) */
.genfile-mx2 {
  margin-right: 0.5rem;
  ;
}

/* Dropdown con bordes y padding */
.genfile-dropdown {
  width: 100%;
  max-width: 14rem;
  padding: 0.25rem;
  border: 1px solid;
  border-radius: 9999px;
  position: relative;
  margin-bottom: 1rem;
}

/* Botón azul de 40px de ancho y margen-right */
.genfile-btnBlue {
  background-color: #3B82F6;
  padding: 0.75rem;
  color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.genfile-btn40 {
  width: auto;
  margin-right: 1rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
}
.genfile-btnMr4 {
  margin-right: 1rem;
  padding: 0.75rem;
}

/* Fila horizontal */
.genfile-flexRow {
  flex-direction: row;
}

/* Texto con margin-x=10 (si lo usas) */
.genfile-mx10 {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

/* Chips por defecto */
.genfile-chip {
  background-color: #DCE3F3;
  color: #2b2b2b;
  font-weight: bold;
  border-radius: 9999px;
  margin: 0 0.25rem;
  padding: 0.25rem;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

/* Chips cuando están seleccionados */
.genfile-chipSelected {
  background-color: #A9B8D1;
}

/* Contenedor "card" estilo fila centrada */
.genfile-cardRow {
  display: flex;
  flex-direction: row;
}

/* Slider con ancho personalizado */
.genfile-sliderWidth {
  width: 50%;
  
}

/* Fila de botones (Modificar, Guardar, Página principal) */
.genfile-btnRow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  
}

@media (min-width: 640px) {
  .genfile-btnRow {
    flex-direction: row;
  }
}

/* Botón verde */
.genfile-btnGreen {
  background-color: #43AE6A;
  padding: 0.75rem;
  color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

/* Botón rojo */
.genfile-btnRed {
  background-color: #D7483E;
  padding: 0.75rem;
  color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

/* Columna derecha (panel) */
.genfile-rightPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F1F1F1;
  padding: 2rem;
}

/* Contenedor para el editor de código */
.genfile-codeContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 100%;
}

/* Editor de JSON (sintaxis y estilo) */
.genfile-editor {
  font-size: 15px;
  background-color: #2d2d2d;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  overflow: auto;
}

.genfile-custom-input {
  border: 1px solid #f1f1f1;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
}